
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

/*  
    font-family: "Dancing Script", cursive;
    font-family: "Poppins", sans-serif; 
     font-family: "Aladin", system-ui;
*/

*{
    padding: 0;
    margin: 0;
}
:root{
    --main-bg-color:#1e1f20;
    --second-bg-color:#29292e;
    --text-color-1:#d8e2de;
    --main-color:#fa3c02;
    --text-color-2:#d3d0d1;
    
}
a{
    text-decoration: none;
    color: black;
}
section{
    height: 100vh;
}
body{
    font-family: "Poppins", sans-serif; 
}


.header{
    color: var(--text-color-1);
    background: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
    height: 3rem;
}
.logo{
font-family: 'Courier New', Courier, monospace;
color: var(--main-color);
margin-left:1rem ;
margin-top: 1rem;
}
.navbar{
    margin-top: 1rem;
}
nav a{
    margin: .2rem;
    color: var(--text-color-1);
    font-family: "Aladin", system-ui;
    transition: .5s;
}
nav a:hover{
    color: var(--main-color);
}
.hamburger{
    display: none;
}
.user-profile{
    margin-top: 1rem;
   
   
}
.active{
    color: var(--main-color);
}

.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("https://images.pexels.com/photos/1154638/pexels-photo-1154638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.banner-content{
    color: var(--text-color-2);
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    top: 40%;
    left: 20%;
    text-align: center;
}
.banner-content h1{
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    
    text-align: center;
   color: #fff;
}
.btn{
    font-family: "Poppins", sans-serif; 
    border: var(--main-color) 1px solid;
    border-radius: 5px;
    background: transparent;
    color: white;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 7rem;
    height: 1.8rem;
    transition: .5s;
}
.btn:hover{
    background: var(--main-color);
}
#book_Us{
    background: var(--main-bg-color);
  
}
.heading{
    color: var(--main-color);
    text-align: center;
}
.bannerbook_us{
     width: 100%;   
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:10px ;
   
}
.container{
    background: var(--text-color-2);
    width: 100%;
    grid-gap: 5px;
    border-radius: 15px;
   background: var(--text-color-2);
   margin: .5rem;
   

}
.container img{
    width: 60%;
    border-radius: 15px;
    position: relative;
    left: 10%;
    top: 2%;
}

.content-btn{
    text-align: center;
    display: flex;
    flex-direction: row;
}
.content-btn h4{
    position: relative;
    left: 30%;
}
.content-btn button{
    color:var(--main-bg-color) ;
    position: relative;
    left: -5%;
}
#hidden{
    display: none;
}
#about_us{
    display: flex;
    
}
.image1 img{
    width: 60vh;
    margin: 1rem 1rem;
    border-radius: 15px;
}

.content{
line-height: 2rem;
}
.content h3{
    font-size: 1.6rem;
    margin-top: .5rem;
    color: var(--main-color);
    text-align: center;
}
.content p{
    margin-top: 2rem;
}

#footer{
    height: 50vh;
background: var(--second-bg-color);
display: flex;
}
#footer container{
width: 50%;
color: var(--text-color-1);
}
#footer container a{
    color: var(--text-color-1);
}






@media screen and (max-width:730px) {
    .bannerbook_us{
        
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows:240px 240px ;
       
    }
    .container{
        display: flex;
        width: 90%;
        grid-gap: 10px;
        border-radius: 15px;
       background: var(--text-color-2);
       margin: .5rem;
       
    
    }
    .container img{
        height: 90%;
        border-radius: 15px;
        position: relative;
        left: 10%;
        top: 2%;
    }
    .content-btn{
        text-align: center;
        position: relative;
        top: 5rem;
        left: -4rem;
    }
    .content-btn h4{
        position: relative;
        left: 40%;
        top: -10%;
    }
    .content{
        line-height:0rem;
        }
    .content-btn button{
       
        color:var(--main-bg-color) ;
        position: relative;
        left: 10%;
    } 
    #about_us{
        display: flex;
        
    }
    .image1 img{
        width: 60vh;
        margin: 1rem 1rem;
        border-radius: 15px;
    }
    #about_us{
        display: flex;
        flex-direction: column;
        height: 200vh;
        
    }
    .image1 img{
        position: relative;
        left: 20%;
        margin: 1rem 1rem;
        border-radius: 15px;
    }
    .content{
    line-height: 2rem;
    }
    .content h3{
        font-size: 1.6rem;
        margin-top: .5rem;
        color: var(--main-color);
        text-align: center;
    }
    .content p{
        margin-top: 1rem;
    }
    
    #footer{
        background: var(--second-bg-color);
        height: 50vh;
        }
}
@media screen and (max-width:500px) {

    .navbar{
        display: none;
    } 
    nav{
        background: var(--second-bg-color);
        border-radius: 5px;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        
    }
    .user-profile nav{
display: flex;
flex-direction: row;
background: none;
position: relative;
left: -10%;
top: -50%;
    }
    .hamburger{
        display: block;
        margin-top: 1rem;
        position: relative;
left: -10%;
    }

    .bannerbook_us{
        
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows:240px 240px ;
       
    }
    .container{
        display: flex;
        width: 90%;
        grid-gap: 10px;
        border-radius: 15px;
       background: var(--text-color-2);
       margin: .5rem;
       
    
    }
    .container img{
        height: 90%;
        border-radius: 15px;
        position: relative;
        left: 10%;
        top: 2%;
    }
    .content-btn{
        text-align: center;
        position: relative;
        top: 5rem;
        left: -4rem;
    }
    .content-btn h4{
        position: relative;
        left: 40%;
        top: -10%;
    }
    .content{
        line-height:0rem;
        }
    .content-btn button{
       
        color:var(--main-bg-color) ;
        position: relative;
        left: 10%;
    } 
    #about_us{
        display: flex;
        
    }
    .image1 img{
        width: 60vh;
        margin: 1rem 1rem;
        border-radius: 15px;
    }
    #about_us{
        display: flex;
        flex-direction: column;
        height: 200vh;
        
    }
    .image1 img{
        position: relative;
        left: 20%;
        margin: 1rem 1rem;
        border-radius: 15px;
    }
    .content{
    line-height: 2rem;
    }
    .content h3{
        font-size: 1.6rem;
        margin-top: .5rem;
        color: var(--main-color);
        text-align: center;
    }
    .content p{
        margin-top: 1rem;
    }
    
    #footer{
        background: var(--second-bg-color);
        height: 50vh;
        }

}

@media screen and (max-width:320px) {

 
    .banner-content{
        color: var(--text-color-2);
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 30%;
        left: -5%;
        text-align: center;
    }
    .banner-content h1{
        font-size: 40px;
       
    }

    #book_Us{
       height: 170vh;
      
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        grid-gap: 10px;
        border-radius: 15px;
       background: var(--text-color-2);
       margin: .5rem;
       
    
    }
    .container img{
        height: 70%;
        border-radius: 15px;
        position: relative;
        left: 20%;
        top: 2%;
    }
    .content-btn{
        text-align: center;
      position: relative;
      top: -1rem;
      left: -1rem;
       
    }
    .content-btn h4{
        position: relative;
        left: 40%;
        top: 0%;
    }
    .content-btn .btn{
        position: relative;
        top: 20%;
    }
    #about_us{
        display: flex;
        height: 290vh;
        
    }
    .image1 img{
        width: 80vw;
        margin: 1rem ;
        border-radius: 15px;
        position: relative;
        left: -.1rem;
    }
    
   

}